<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static '/css/default.css' %}">
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <link rel="stylesheet" href="{% static '/css/chief-slider.min.css' %}">
    <link rel="stylesheet" href="{% static '/css/slider.css' %}">
    <link rel="stylesheet" href="{% static '/css/registration.css' %}">
    <link rel="stylesheet" href="{% static '/css/profile.css' %}">
    <link rel="stylesheet" href="{% static '/css/catalog.css' %}">
    <link rel="stylesheet" href="{% static '/css/book.css' %}">
    <link rel="stylesheet" href="{% static '/css/filter.css' %}">
    <script defer src="{% static '/js/chief-slider.min.js' %}"></script>
    {% block title %}
    {% endblock %}
</head>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      const slider = new ChiefSlider('.slider', {
        loop: true,
        autoplay: true,
        interval: 5000,
        refresh: true,
      });
    });
</script>
<body>
<div class="main_wrapper">
<div class="container">
{% include "header.html" %}
{% block content %}
{% endblock %}
{% include "footer.html" %}
</div>
</div>
</body>
</html>