<div class="slider_container">

    <div class="slider">
      <div class="slider__container">
        <div class="slider__wrapper">
          <div class="slider__items">
            <div class="slider__item">
              <!-- Начало контента 1 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/794/2879431_preview.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Плененный принц<br><span>Пакат К.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>538 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 1 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 2 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/781/2878154_preview.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Призрак в доспехах 2 <br><span>Масамунэ С.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>724 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 2 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 3 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/794/2879433_detail.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Преступление и наказание<br><span>Достоевский Ф.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>584 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 3 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 4 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/917/2891763_detail.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Путешествие к муравьям<br><span>Уиэлсон Э.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>389 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 4 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 5 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/787/2878749_detail.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">"Крысиный остров"<br><span>Несбе Ю.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>917 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 5 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 6 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/765/2876542_preview.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Мудрость толпы<br><span>Аберкромби Дж.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>316 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 6 слайда -->
            </div>
            <div class="slider__item">
              <!-- Начало контента 7 слайда -->
              <div class="slider__item-container">
                <div class="slider__item-content">
                  <div class="slider__content_header">
                    <img class="slider__content_img" src="https://img-gorod.ru/28/670/2867023_preview.jpg" alt="..." width="250"
                      height="150" loading="lazy">
                    <span class="slider__content_section">Новинка</span>
                  </div>
                  <h2 class="slider__content_title">Феминизм<br><span>Кровавая Ш.</span></h2>
                  <div class="slider__content_footer">
                    <a href=""><button>456 ₽</button></a>
                  </div>
                </div>
              </div>
              <!-- Конец контента 7 слайда -->
            </div>
          </div>
        </div>
        <a href="#" class="slider__control" data-slide="prev"></a>
        <a href="#" class="slider__control" data-slide="next"></a>
        <ol class="slider__indicators">
          <li data-slide-to="0"></li>
          <li data-slide-to="1"></li>
          <li data-slide-to="2"></li>
          <li data-slide-to="3"></li>
          <li data-slide-to="4"></li>
          <li data-slide-to="5"></li>
          <li data-slide-to="6"></li>
        </ol>
      </div>
    </div>
  </div>