.main_wrapper{
    display: flex;
	flex-direction: column;
	min-height: 100%;
}
.container {
    width: 100%;
    flex: 1 0 auto;
}

header {
    position: fixed;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #2e74ff;
    background-image: linear-gradient(315deg, #2e74ff 0%, #6616c1 130%);
    display: flex;
    align-items: center;
    z-index:99;
    top:0;
}

.logo {
    width: 35%;
    display: flex;
    align-items: center;
    flex: 1;
}

svg {
    min-width: 150px;
    padding-right: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
    padding-right: 30px;
    list-style-type: none;
    font-size: 14px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}
span{
    color: #757575;
}
button{
    width: 100%;
    padding: 10px 40px;
    margin-left: 14px;
    color: white;
    font-size: 15px;
    border:none;
    background: linear-gradient(315deg, #2e74ff 0%, #6616c1 130%);
    border-radius: 5px;
    cursor:pointer;
}
button:hover{
     background-image: linear-gradient(-315deg, #2e74ff 0%, #6616c1 130%);
}
h3 {
    margin-left:1%;
}

.bckg_bonus{
    position:relative;
    width:95vw;
    min-height: 150px;
    background: #2241af;
    margin:5vw auto 0 ;
    padding-top:15px ;
    padding-left: 20px;
    margin-bottom:200px;
}
.owl_img{
    position:absolute;
    bottom:-3px;
    right:15px;
}

.title_bonus{
    color: #ffff00;
    font-size:25px;
    font-family: "Roboto", "Lucida Grande", "DejaVu Sans", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
}

.lead_bonus{
    color: #ffffff;
    font-size:18px;
    font-weight: 100;
    font-family: Verdana;
}
footer{
    width: 100%;
    height: 100px;
    background-color: #2e74ff;
    background-image: linear-gradient(315deg, #2e74ff 0%, #6616c1 130%);
    flex: 0 0 auto;
}
.catalog_main {
    margin: -160px auto 0 ;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
}



